<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário de Cadastro</title>
        <!-- Link para o CSS do Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Inclusão do jQuery -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>         -->
        <!-- jQuery Mask Plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <!-- Inclusão do crypto-js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    
        <link rel="stylesheet" href="static/css/mask.css">
        <link rel="icon" href="/static/imagens/lupa.ico
        " type="image/x-icon">
    </head>
    <body>
        <div class="container mt-5 text-left p-3 border bg-light">
            <h2 class="mb-4">Formulário de Cadastro</h2>
            <form id="form_cadastro" action="/submit_form" method="POST" class="needs-validation">
                <div class="row  mb-3">
                    <div class="col">
                    <div class="form-group">
                        <label for="nome">Nome completo:</label>
                        <input type="text" class="form-control" id="nome" name="nome" required placeholder="">
                    </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" name="email" required placeholder="email@dominio.com">
                            <div class="invalid-feedback">
                                Insira um email válido no formato nome@dominio.com
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="celular">Celular:</label>
                            <input type="text" class="form-control" id="celular" name="celular" placeholder="(00) 00000-0000">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="telefone_fixo">Telefone fixo:</label>
                            <input type="text" class="form-control" id="telefone_fixo" name="telefone_fixo" placeholder="(00) 0000-0000">
                        </div>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_nascimento">Data de Nascimento:</label>
                            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00">
                            <div id="cpf-feedback" class="invalid-feedback">
                                CPF inválido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="border p-2 rounded">
                            <div class="form-group">
                                <legend class="col-form-label" for="data_nascimento">Gênero:</legend>
                                <div class="form-check">
                                    <label class="form-check-label" for="masculino">
                                        <input class="form-check-input" type="radio" name="genero" id="masculino" value="M" checked>
                                        Masculino
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="form-check-label" for="feminino">
                                        <input class="form-check-input" type="radio" name="genero" id="feminino" value="F">
                                        Feminino
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="form-check-label" for="outro">
                                        <input class="form-check-input" type="radio" name="genero" id="outro" value="">
                                        Outro
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="profissao">Profissão</label>
                            <input type="text" class="form-control" id="profissao" name="profissao"  placeholder="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="login">Usuário:</label>
                            <input type="text" class="form-control" id="login" name="login" required placeholder="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" class="form-control" id="senha" name="senha" required placeholder="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="confirmar_senha">Confirmar Senha:</label>
                            <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" required placeholder="Repita a enha">
                            <div class="invalid-feedback">
                                As senhas digitadas têm que ser iguais!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row  mb-3">
                      <div class="col-md-2">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="cep" name="cep"  placeholder="00000-00">
                            <div class="invalid-feedback" id="cep-feedback">
                                CEP inválido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cidade_local">Cidade/Local</label>
                            <input type="text" class="form-control" id="cidade_local" name="cidade_local"  placeholder="">
                        </div>
                    </div>                
                    <div class="col">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" name="bairro"  placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro" name="logradouro"  placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="uf">UF:</label><br>
                            <select class="form-select" aria-label="Default select example" name="uf" id="uf">
                                <option selected></option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AM">AM</option>
                                <option value="AP">AP</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MG">MG</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="PR">PR</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="RS">RS</option>
                                <option value="SC">SC</option>
                                <option value="SE">SE</option>
                                <option value="SP">SP</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero" name="numero"  placeholder="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complemento"  placeholder="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="ponto_referencia">Ponto de referência</label>
                            <input type="text" class="form-control" id="ponto_referencia" name="ponto_referencia"  placeholder="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>

        <script src="static/js/utilities.js"></script>
        <script src="static/js/apiCorreios.js"></script>
        


        <!-- Link para o JavaScript do Bootstrap (opcional) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </body>
</html>